@font-face {
    font-family: Montserrat;
    src: url(/static/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(/static/Montserrat-ExtraBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: gray;
}

.card{
 height: 380px;
 width:320px;
 background-color: rgba(154, 219, 243, 0.36);
 position: absolute;
 margin:auto;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 backdrop-filter: blur(10px);
 border: 1px solid rgba(255,255,255,0.20);
 border-radius:10px;
 color: #fcfcfc;
 box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
}

h4{
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
    margin-top: -10px;
}

h6{
    text-align: center;
    color:#182031;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: 300px;
    margin-bottom: 25px;
}

.weather-card-icon {
    width: 23%;
    margin-left: 40%;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size:40px;
    font-weight: 300px;
}

.extras-container {
    width: 70%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.feelslike-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -15px;
    font-weight: 600px;
    justify-content: space-around;
}

.feelslike-container span {
    color: #d9e2ed;
    font-size: 17px;
}

#feelslike {
    margin-top: -10px;
}   

.div_hover {
    background-color: #FFFFFF;
  }
  
.div_hover:hover {
    background-color: #585252;
  }

#time {
    font-size: 12px;
}

.temps-container {
    display: flex;
    justify-content: space-around;
}

.temps-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#f-select,
#c-select,
#wind-icon:hover {
    cursor: pointer;
}

.div-selected {
    background-color: #585252;
    border-left: 5px solid rgb(0, 4, 255);
}


.icons-container {
    display: flex;
    flex-wrap: wrap;
    width: 175%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

#humid,
#wind {
    display: flex;
    width: -moz-min-content;
    width: min-content;
    justify-content: center;
}

.icons-container div img{
    width: 40%;
    margin-right: 10px;
    justify-content: space-around;
}

.hide {
    display:none;
}

p {
    flex-shrink: 0;
    letter-spacing: 1px;
}

#more-info {
    font-size: 10px;
    font-family: MontserratBold;
    color: rgb(4, 4, 98);
    text-decoration: none;
    text-align: center;
    padding: 0 40%;
}

/* SEARCH BAR */ 

body {
    background: #29313a;
  }
  
  .input-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search-box {
    width: 450px;
    height: 100px;
    position: relative;
  }
  
  .input {
    margin-top: -55%;
    position: absolute;
    top: 20px;
    left: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 53px;
    padding: 0 30px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid #2c527e;
    transition: all 0.8s ease;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  }

  .btn {
    margin-top: -55%;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #2c527e;
    border-radius: 50%;
    left: 50px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
  }
  
  .input.active {
    width: 280px;
    left: 100px;
  }

  #spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*----------------*/