@font-face {
    font-family: Montserrat;
    src: url(/static/Montserrat-ExtraLight.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: gray;
}

.card{
 height: 380px;
 width:320px;
 background-color: rgba(154, 219, 243, 0.36);
 position: absolute;
 margin:auto;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 backdrop-filter: blur(10px);
 border: 1px solid rgba(255,255,255,0.20);
 border-radius:10px;
 color: #fcfcfc;
 box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
}

h4{
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
    margin-top: -10px;
}

h6{
    text-align: center;
    color:#182031;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: 300px;
    margin-bottom: 25px;
}

.weather-card-icon {
    width: 23%;
    margin-left: 40%;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size:50px;
    font-weight: 300px;
}

.container {
    width: 70%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.details {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -15px;
    font-weight: 600px;
    
}

.details span {
    color: #d9e2ed;
    font-size: 16px;
}

.div_hover {
    background-color: #FFFFFF;
  }
  
.div_hover:hover {
    background-color: #585252;
  }

#time {
    font-size: 12px;
}

.temps-container {
    display: flex;
    justify-content: space-around;
}

.temps-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#f-select,
#c-select:hover {
    cursor: pointer;
}
.div-selected {
    background-color: #585252;
    border-left: 5px solid rgb(0, 4, 255);
}